PROJECT_NAME=codexa
PROJECT_ROOT=/path/to/codexa
PROJECT_STORAGE_DIR=/path/to/codexa/.local/storage
PROJECT_DATA_DIR=/path/to/codexa/.local/data
PROJECT_MODELS_DIR=/path/to/codexa/.local/models
PROJECT_CACHE_DIR=/path/to/codexa/.local/cache
PROJECT_BACKUPS_DIR=/path/to/codexa/.local/backups
